@using System.Web.UI.WebControls
@using MS.Web.Models
@{
    //ViewBag.Title = MS.WebResources.Resources.prueba;
    ViewBag.LanguageCode = ViewData["LanguageCode"];

    ViewBag.Domain = HttpContext.Current.Request.Url.Authority + "/" + ViewData["LanguageCode"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ContentScripts
{
    <script src="~/js/HomeController.js"></script>
}

<div ng-app="multipleCtrlApp">

    <!--Banner-->
    <section class="banner">

        <!-- Banner Slide-->
        <div class="banner-slide" id="banner-slide">

            <!-- ITEM -->
            <div class="banner-slide-item" data-src="/Theme/images//background/bg-1.jpg"></div>
            <!-- END ITEM -->
            <!-- ITEM -->
            <div class="banner-slide-item" data-src="/Theme/images//background/bg-2.jpg"></div>
            <!-- END ITEM -->

        </div>
        <!--End Banner Slide-->

        <div class="container">

            <div class="logo-banner text-center">
                <a href="" title="">
                    <img src="/Theme/images//logo-banner.png" alt="">
                </a>
            </div>

            <!-- Banner Content -->
            <div class="banner-cn">

                <!-- Tabs Cat Form -->
                <ul class="tabs-cat text-center row" id="ulCategories">
                    @foreach (var item in (List<ListCustomItem>)ViewData["CategoryList"])
                    {
                        <li class="cate-item col-xs-2 @(item.Active ? "active" : "")" id="form-@item.Value">
                            <a data-toggle="tab" title=""><span>@item.Text</span><img src="/Theme/images//icon-hotel.png" alt=""></a>
                        </li>
                    }
                </ul>
                <!-- End Tabs Cat -->
                <!-- Tabs Content -->
                <form method="get" action="#" name="searchForm" ng-controller="homeSearchController">
                    <input type="hidden" id="hdnLocationId" value="" />
                    <input type="hidden" id="hdnLocationName" value="" />
                    <div class="tab-content" id="CategoryListForm">

                    <!-- Search Hotel -->
                    <div class="form-cn form-hotel tab-pane active in">
                        <h2>Where would you like to go?</h2>
                        <div class="form-search clearfix">
                            <div class="form-field field-destination">
                                <div class="select">
                                    <span>Destination:</span>
                                    <select id="DdlCities">
                                        @foreach (var itemCity in (List<ListItem>)ViewData["DdlCityList"])
                                        {
                                            <option value="@itemCity.Value">@itemCity.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-submit" style="float:right;">
                                <button class="awe-btn awe-btn-lager awe-search" type="reset" ng-click="submit()">Search</button>
                            </div>
                        </div>
                    </div>
                        <!-- End Search Hotel -->

                        <!-- Search Car
                        <div class="form-cn form-car tab-pane" id="form-car">
                            <h2>Where would you like to go?</h2>
                            <div class="form-search clearfix">
                                <div class="form-field field-picking">
                                    <label for="picking"><span>Picking up:</span> City, airport...</label>
                                    <input type="text" id="picking" class="field-input">
                                </div>
                                <div class="form-field field-droping">
                                    <input type="text" class="field-input" placeholder="Droping off">
                                </div>
                                <div class="form-field field-date">
                                    <input type="text" class="field-input calendar-input" placeholder="Pink up date">
                                </div>
                                <div class="form-field field-date">
                                    <input type="text" class="field-input calendar-input" placeholder="Drop off date">
                                </div>
                                <div class="form-submit">
                                    <button type="submit" class="awe-btn awe-btn-lager awe-search">Search</button>
                                </div>
                            </div>
                        </div>
                        End Search Car -->


                    </div>
                    <!-- End Tabs Content -->
                </form><!--//course-finder-form-->
            </div>
            <!-- End Banner Content -->
        </div>
    </section>
    <!--End Banner-->
    <!-- Travel Magazine -->
    <section class="magazine">
        <!-- Title -->
        <div class="title-wrap">
            <div class="container">
                <div class="travel-title float-left">
                    <h2>Travel Magazine</h2>
                </div>
                <a href="#" title="" class="awe-btn awe-btn-5 arrow-right awe-btn-lager text-uppercase float-right">view all</a>
            </div>
        </div>
        <!-- End Title -->
        <!-- Magazine Content -->
        <div class="container">
            <div class="magazine-cn">
                <div class="row">
                    <!-- Magazine Descript -->
                    <div class="col-lg-6">
                        <div class="magazine-ds">
                            <div id="owl-magazine-ds">
                                <!-- Magazine Descript Item -->
                                <div class="magazine-item">
                                    <div class="magazine-header">
                                        <h2>Five festivals to look forward to this year</h2>
                                        <ul>
                                            <li>by <a href="" title="">Admin</a></li>
                                            <li>03.5.2014</li>
                                        </ul>
                                        <hr class="hr">
                                    </div>
                                    <div class="magazine-body">
                                        <p>
                                            Suspendisse ullamcorper lacus et commodo laoreet. Sed sodales aliquet felis, quis volutpat massa imperdiet in. Praesent rutrum malesuada risus, ullamcorper pretium tortor. Mauris lacinia nisl id massa consectetur, eu tempus mauris lacinia. Fusce commodo porttitor sapien quis condimentum.
                                        </p>
                                        <p>
                                            Curabitur sollicitudin magna sed sem blandit sodales. Integer in eros sit amet tellus vulputate laoreet ut in purus. Nullam quis lacus nisl. <br>
                                            Sed venenatis commodo leo, ac pulvinar ipsum mattis vitae. Suspendisse eu libero odio.
                                        </p>

                                        <p>
                                            Curabitur sollicitudin magna sed sem blandit sodales. Integer in eros sit amet tellus vulputate laoreet ut in purus. Nullam quis lacus nisl. <br>
                                            Sed venenatis commodo leo, ac pulvinar ipsum mattis vitae.
                                        </p>
                                    </div>
                                    <div class="magazine-footer clearfix">
                                        <div class="post-share magazine-share float-left">
                                            <a href="" title=""><i class="fa fa-facebook"></i></a>
                                            <a href="" title=""><i class="fa fa-twitter"></i></a>
                                            <a href="" title=""><i class="fa fa-google-plus"></i></a>
                                        </div>
                                        <a href="" title="" class="awe-btn awe-btn-5 arrow-right awe-btn-lager text-uppercase float-right">view more</a>
                                    </div>
                                </div>
                                <!-- End Magazine Descript Item -->
                                <!-- Magazine Descript Item -->
                                <div class="magazine-item">
                                    <div class="magazine-header">
                                        <h2>Five festivals to look forward to this year</h2>
                                        <ul>
                                            <li>by <a href="" title="">Admin</a></li>
                                            <li>03.5.2014</li>
                                        </ul>
                                        <hr class="hr">
                                    </div>
                                    <div class="magazine-body">
                                        <p>
                                            Suspendisse ullamcorper lacus et commodo laoreet. Sed sodales aliquet felis, quis volutpat massa imperdiet in. Praesent rutrum malesuada risus, ullamcorper pretium tortor. Mauris lacinia nisl id massa consectetur, eu tempus mauris lacinia. Fusce commodo porttitor sapien quis condimentum.
                                        </p>
                                        <p>
                                            Curabitur sollicitudin magna sed sem blandit sodales. Integer in eros sit amet tellus vulputate laoreet ut in purus. Nullam quis lacus nisl. <br>
                                            Sed venenatis commodo leo, ac pulvinar ipsum mattis vitae. Suspendisse eu libero odio.
                                        </p>

                                        <p>
                                            Curabitur sollicitudin magna sed sem blandit sodales. Integer in eros sit amet tellus vulputate laoreet ut in purus. Nullam quis lacus nisl. <br>
                                            Sed venenatis commodo leo, ac pulvinar ipsum mattis vitae.
                                        </p>
                                    </div>
                                    <div class="magazine-footer clearfix">
                                        <div class="post-share magazine-share float-left">
                                            <a href="" title=""><i class="fa fa-facebook"></i></a>
                                            <a href="" title=""><i class="fa fa-twitter"></i></a>
                                            <a href="" title=""><i class="fa fa-google-plus"></i></a>
                                        </div>
                                        <a href="" title="" class="awe-btn awe-btn-5 arrow-right awe-btn-lager text-uppercase float-right">view more</a>
                                    </div>
                                </div>
                                <!-- End Magazine Descript Item -->
                                <!-- Magazine Descript Item -->
                                <div class="magazine-item">
                                    <div class="magazine-header">
                                        <h2>Five festivals to look forward to this year</h2>
                                        <ul>
                                            <li>by <a href="" title="">Admin</a></li>
                                            <li>03.5.2014</li>
                                        </ul>
                                        <hr class="hr">
                                    </div>
                                    <div class="magazine-body">
                                        <p>
                                            Suspendisse ullamcorper lacus et commodo laoreet. Sed sodales aliquet felis, quis volutpat massa imperdiet in. Praesent rutrum malesuada risus, ullamcorper pretium tortor. Mauris lacinia nisl id massa consectetur, eu tempus mauris lacinia. Fusce commodo porttitor sapien quis condimentum.
                                        </p>
                                        <p>
                                            Curabitur sollicitudin magna sed sem blandit sodales. Integer in eros sit amet tellus vulputate laoreet ut in purus. Nullam quis lacus nisl. <br>
                                            Sed venenatis commodo leo, ac pulvinar ipsum mattis vitae. Suspendisse eu libero odio.
                                        </p>

                                        <p>
                                            Curabitur sollicitudin magna sed sem blandit sodales. Integer in eros sit amet tellus vulputate laoreet ut in purus. Nullam quis lacus nisl. <br>
                                            Sed venenatis commodo leo, ac pulvinar ipsum mattis vitae.
                                        </p>
                                    </div>
                                    <div class="magazine-footer clearfix">
                                        <div class="post-share magazine-share float-left">
                                            <a href="" title=""><i class="fa fa-facebook"></i></a>
                                            <a href="" title=""><i class="fa fa-twitter"></i></a>
                                            <a href="" title=""><i class="fa fa-google-plus"></i></a>
                                        </div>
                                        <a href="" title="" class="awe-btn awe-btn-5 arrow-right awe-btn-lager text-uppercase float-right">view more</a>
                                    </div>
                                </div>
                                <!-- End Magazine Descript Item -->
                                <!-- Magazine Descript Item -->
                                <div class="magazine-item">
                                    <div class="magazine-header">
                                        <h2>Five festivals to look forward to this year</h2>
                                        <ul>
                                            <li>by <a href="" title="">Admin</a></li>
                                            <li>03.5.2014</li>
                                        </ul>
                                        <hr class="hr">
                                    </div>
                                    <div class="magazine-body">
                                        <p>
                                            Suspendisse ullamcorper lacus et commodo laoreet. Sed sodales aliquet felis, quis volutpat massa imperdiet in. Praesent rutrum malesuada risus, ullamcorper pretium tortor. Mauris lacinia nisl id massa consectetur, eu tempus mauris lacinia. Fusce commodo porttitor sapien quis condimentum.
                                        </p>
                                        <p>
                                            Curabitur sollicitudin magna sed sem blandit sodales. Integer in eros sit amet tellus vulputate laoreet ut in purus. Nullam quis lacus nisl. <br>
                                            Sed venenatis commodo leo, ac pulvinar ipsum mattis vitae. Suspendisse eu libero odio.
                                        </p>

                                        <p>
                                            Curabitur sollicitudin magna sed sem blandit sodales. Integer in eros sit amet tellus vulputate laoreet ut in purus. Nullam quis lacus nisl. <br>
                                            Sed venenatis commodo leo, ac pulvinar ipsum mattis vitae.
                                        </p>
                                    </div>
                                    <div class="magazine-footer clearfix">
                                        <div class="post-share magazine-share float-left">
                                            <a href="" title=""><i class="fa fa-facebook"></i></a>
                                            <a href="" title=""><i class="fa fa-twitter"></i></a>
                                            <a href="" title=""><i class="fa fa-google-plus"></i></a>
                                        </div>
                                        <a href="" title="" class="awe-btn awe-btn-5 arrow-right awe-btn-lager text-uppercase float-right">view more</a>
                                    </div>
                                </div>
                                <!-- End Magazine Descript Item -->
                            </div>
                        </div>
                    </div>
                    <!-- End Magazine Descript -->
                    <!-- Magazine Thumnail -->
                    <div class="col-lg-6">
                        <div class="magazine-thum" id="magazine-thum">
                            <!--Thumnail Item-->
                            <div class="thumnail-item active clearfix">
                                <figure class="float-left">
                                    <img src="/Theme/images//magazine/img-1.jpg" alt="">
                                </figure>
                                <div class="thumnail-text">
                                    <h4>Thailand by Train with Eastern and Oriental Express</h4>
                                    <span>03.5.2014</span>
                                </div>
                            </div>
                            <!--End Thumnail Item-->
                            <!--Thumnail Item-->
                            <div class="thumnail-item clearfix">
                                <figure class="float-left">
                                    <img src="/Theme/images//magazine/img-2.jpg" alt="">
                                </figure>
                                <div class="thumnail-text">
                                    <h4>Thailand by Train with Eastern and Oriental Express</h4>
                                    <span>03.5.2014</span>
                                </div>
                            </div>
                            <!--End Thumnail Item-->
                            <!--Thumnail Item-->
                            <div class="thumnail-item clearfix">
                                <figure class="float-left">
                                    <img src="/Theme/images//magazine/img-3.jpg" alt="">
                                </figure>
                                <div class="thumnail-text">
                                    <h4>Thailand by Train with Eastern and Oriental Express</h4>
                                    <span>03.5.2014</span>
                                </div>
                            </div>
                            <!--End Thumnail Item-->
                            <!--Thumnail Item-->
                            <div class="thumnail-item clearfix">
                                <figure class="float-left">
                                    <img src="/Theme/images//magazine/img-4.jpg" alt="">
                                </figure>
                                <div class="thumnail-text">
                                    <h4>Thailand by Train with Eastern and Oriental Express</h4>
                                    <span>03.5.2014</span>
                                </div>
                            </div>
                            <!--End Thumnail Item-->
                        </div>
                    </div>
                    <!-- End Magazine Thumnail -->
                </div>
            </div>
        </div>
        <!-- End Magazine Content -->
    </section>
    <!-- End Travel Magazine -->
    <!-- Travel Destinations -->
    <section class="destinations">

        <!-- End Title -->
        <!-- Destinations Content -->
        <div class="destinations-cn">

            <!-- Background -->
            <div class="bg-parallax bg-2"></div>
            <!-- End Background -->

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="confidence">
                            <h3>Book with confidence</h3>
                            <ul>
                                <li>
                                    <span class="label-nb">01</span>
                                    <h5>No booking charges</h5>
                                    <p>We don't charge you an extra fee for booking a hotel room with us</p>
                                </li>
                                <li>
                                    <span class="label-nb">02</span>
                                    <h5>No cancellation fees</h5>
                                    <p>We don't charge you a cancellation or modification fee in case plans change</p>
                                </li>
                                <li>
                                    <span class="label-nb">03</span>
                                    <h5>Instant confirmation</h5>
                                    <p>Instant booking confirmation whether booking online or via the telephone</p>
                                </li>
                                <li>
                                    <span class="label-nb">04</span>
                                    <h5>Flexible booking</h5>
                                    <p>You can book up to a whole year in advance until the moment of your stay</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="confidence">
                            <h3>Book with confidence</h3>
                            <ul>
                                <li>
                                    <span class="label-nb">01</span>
                                    <h5>No booking charges</h5>
                                    <p>We don't charge you an extra fee for booking a hotel room with us</p>
                                </li>
                                <li>
                                    <span class="label-nb">02</span>
                                    <h5>No cancellation fees</h5>
                                    <p>We don't charge you a cancellation or modification fee in case plans change</p>
                                </li>
                                <li>
                                    <span class="label-nb">03</span>
                                    <h5>Instant confirmation</h5>
                                    <p>Instant booking confirmation whether booking online or via the telephone</p>
                                </li>
                                <li>
                                    <span class="label-nb">04</span>
                                    <h5>Flexible booking</h5>
                                    <p>You can book up to a whole year in advance until the moment of your stay</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- End Destinations Content -->
    </section>
    <!-- End Travel Destinations -->
    <!-- Sales -->
    <section class="sales">
        <!-- Title -->
        <div class="title-wrap">
            <div class="container">
                <div class="travel-title float-left">
                    <h2>Hot Sale Today: <span>Paris, Amsterdam, Saint Petersburg & more</span></h2>
                </div>
                <a href="#" title="" class="awe-btn awe-btn-5 awe-btn-lager arrow-right text-uppercase float-right">ALL SALES</a>
            </div>
        </div>
        <!-- End Title -->
        <!-- Hot Sales Content -->
        <div class="container">
            <div class="sales-cn">
                <div class="row">
                    @foreach (var store in (IEnumerable<MS.CommandQuery.Core.Model.SearchItem>)ViewData["LastStores"])
                    {
                        
                        <!-- HostSales Item -->
                        <div class="col-xs-6 col-md-3">
                            <div class="sales-item">
                                <figure class="home-sales-img">
                                    <a href="@store.Url" title="">
                                        <img src="/Theme/images//deal/img-1.jpg" alt="">
                                    </a>
                                </figure>
                                <div class="home-sales-text">
                                    <div class="home-sales-name-places">
                                        <div class="home-sales-name">
                                            <a href="@store.Url" title="">@store.Name</a>
                                        </div>
                                        <div class="home-sales-places">
                                            <a href="" title="">@store.CityName</a>,
                                            <a href="" title="">@store.DistrictName</a>
                                        </div>
                                    </div>
                                    <hr class="hr">
                                    <div class="price-box">
                                        @store.ShortDescription
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    
                </div>
            </div>
        </div>
        <!-- End Hot Sales Content -->
    </section>
    <!-- End Sales -->
    
</div>